<h1>ショッピングカート</h1>

<table> 
  <thead>
    <th>単価(税込)</th>
    <th>小計</th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.subtotal%></td>
      <% @合計金額 += cart_item.subtotal %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "カートを空にする" public_cart_items_destroy_all_path, class:"btn btn-danger" %>