<h1>注文履歴詳細</h1>
<h2>注文情報</h2>
<h2>請求情報</h2>

<h2>注文内容</h2>
<table>
    <thead>
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotalt %></td>
      </tr>
      <% end %>
    </tbody>
</table>